<% @users.each do |user| %>
  <%= link_to user do %>
    <div>
      <div class=box>
        <%= image_tag user.photo, class: 'img' %>
        <div class=user-box>
          <%= user.name %><br>
          number of posts: <%= user.posts_counter %><br>
        </div>
      </div>
    </div>
    <% unless user.id != 1 %>
      <div class=create_post>
        <%= link_to "Create New Post", new_user_post_path(user) %>
      </div>
    <% end %>
  <% end %>
<% end %>
