<div class=rectangle>
  <div class=flex>
    <div class=one>
      Post #<%= @post.id %> by <%= @user.name %>
    </div>

    <h3><%= @post.title %></h3>

    <div class=two>
      Comments: <%= @post.comments_counter %>,
      Likes: <%= @post.likes_counter %><br>
      <br>
    </div>
  </div>
  <%= @post.text %>
</div>

<div class=posts-del-btn>
<% if can? :destroy, @post %>
  <%= link_to 'Delete', user_post_path(user_id:@user.id, id: @post.id), "data-turbo-method": :delete %>
<% end %>
</div>

<% if @post.comments.length != 0 %>
  <div class=rectangle>
    <% @post.comments.includes(:author).each do |comment| %>
      <%= comment.author.name %>:
      <%= comment.text %><br>
    <% if can? :destroy, comment %>
      <%= link_to 'Delete', user_post_comment_path(post_id: @post.id, id: comment.id), "data-turbo-method": :delete %>
      <br>
      <% end %>
    <% end %>
  </div>
<% end %>
<button>
  <%= link_to 'Add your comment', new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id) %>
</button>
<div class=right>
  <%= render 'likes/form' %>
</div>
